---
import goods from "../data/goods.json";
console.log(goods);
---


<ul>
  {goods.map((list) =>

 <li>
    <a href=`/06_ecsite/goods/${list.url}`>
    <div class="imgBox">   <img src=`/06_ecsite/images/${list.itemphotos[0]}` /></div>

      <h3>{list.name}</h3>
     <p class="price">¥{list.price}</p>
   <p id="state" class="state"></p>
      </a>
       </li>

  )}

</ul>
 <script>
    const list = {
      state: true // ここをtrueにすると "In stock" になります
    };

    // DOMContentLoadedイベントを待ってからDOM操作を行う
    document.addEventListener('DOMContentLoaded', function () {
      var stateElement = document.getElementById('state');
      stateElement.textContent = list.state ? 'In stock' : 'Sold out';
    });
  </script>




<style lang="scss">

   $breakpoints: (
  "sm": "screen and (min-width: 900px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
 ) !default;

 @mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
 }
  ul{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    a{
      width: fit-content;
    }
    li{
      width: 100%;
      list-style: none;
      .imgBox{
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
      }
      h3{
        font-size: 1rem;
        margin: 0;
        color: #048d2d;

      }
      img{
        width: 100%;
        height: auto;
      }

      .price{
        color: #d72d06;
      }
    }
  }

@include mq(sm){
  ul{
flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: 30%;
    }
  }
}

</style>
