---

---

<header>
  <div class="header__top">
     <h1 class="text-3xl  my-10">SERVICE</h1>
  <ul class="flex justify-center mb-20 ">
    <li> <a href="/06_ecsite">home</a></li>
    <li><a href=`/06_ecsite/about`>about</a></li>
  </ul>
</div>

</header>

<style lang="scss">


  .header__top{
    align-items: baseline;
    margin: auto;
    width: fit-content;
    h1{
      font-size: 40px;
      font-weight: bold;
    }
  }

  ul{
      gap: 10%;
  }
li{
  list-style: none;
  width: fit-content;

a:hover{
color: #0683f0;
transition:0.5s;
}
}

a{
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
</style>
